<!DOCTYPE html> 
<html> 
	<head> 
		<title> Signup Form</title> 	
		<link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css"> 
	</head> 
	<body> 
		<div class="container" > 
			<div class="row"> 
				<div class="col-md-3"></div>
				<div class="col-md-3 main">		
					<button id="register" name="register" class="btn primary-btn" onclick="location.href = '/register';">register</button>
				</div>
				<div class="col-md-3 main">
					<button id="register" name="login" class="btn primary-btn" onclick="location.href = '/login';">login</button>
				</div>
			</div> 
		</div>
	</body>
</html>